<?xml version="1.0" encoding="utf-8" ?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <processors>
      <logout>
        <processor patch:after="*[@type='Sitecore.Pipelines.Logout.CheckModified, Sitecore.Kernel']" type="LockPick.Pipelines.Logout.UnlockMyItems, LockPick"/>
      </logout>
    </processors>
    <settings>
      <setting name="UnlockItems.ElapsedTimeWhenIdle" value="00:00:20:00" />
    </settings>
  </sitecore>
</configuration>